@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/alarm-clock");

:root {
  --main-font: "Inter", sans-serif;
  --clock-font: "alarm clock", sans-serif;
  --font-size: 15px;
  --white-1: #eee;
  --black-1: #00040a;
  --blue-1: #1653b4;
  --blue-2: #c4cfdd;
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  color: var(--black-1);
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
  background-color: var(--blue-2);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  position: sticky;
  top: 0;
  padding: 2rem 0 5rem 0;
  background: linear-gradient(to bottom, #c4cfdd, rgba(0,0,0,0));
}

.header h1 {
  margin: 0 auto;
  text-align: center;
  z-index: 12;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section {
  padding: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

.panel {
  position: fixed;
  z-index: 98;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: var(--blue-1);*/
  backdrop-filter: blur(10px);
  transition: transform 0.2s ease;
  transform: translate(0, -100%);
}

.panel.is-active {
  transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 99;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-1);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  font-weight: normal;
  text-decoration: none;
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  color: var(--black-1);
  transition: font-weight 0.2s ease, text-decoration 1s ease;
}

.menu a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.menu-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.boton {
  width: 125px;
  padding: 7px 15px;
  margin: 0px 5px;
  border-radius: 25px;
  border: 0px;
  transition: all 0.3s ease;
}

.boton:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.relojContenedor {
  font-size: 50px;
  font-family: var(--clock-font);
  background-color: var(--white-1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 15vh;
  width: 25vw;
  border-radius: 25px;
  border: 0;
  padding: 5px 15px;
  box-shadow: inset 0px 0px 10px 5px rgb(196, 207, 221, 0.5);
}

/* EVENTOS DEL TECLADO */

.stage {
  font-size: 50px;
  font-family: var(--clock-font);
  background-color: var(--white-1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  height: 50vh;
  width: 67vw;
  border-radius: 25px;
  border: 0;
  box-shadow: inset 0px 0px 10px 5px rgb(196, 207, 221, 0.5);
}

.ball {
  width: 3rem;
  height: 3rem;
  border-radius: 50rem;
  background-color: var(--blue-1);
  box-shadow: 0px 0px 10px 5px rgb(196, 207, 221, 0.5);
}